*, *:before, *:after{
    box-sizing: border-box;
    outline: solid 1px grey; /*檢查用，繳交前需清掉*/
}
body {
    font-family: Bruno Ace SC;
    line-height: 1.5;
    color: $primary;
    background-color: $secondary;
    & .light-theme{
        color: $secondary;
        background: $primary;
    }
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 8rem;
    color: $green;
}
h2, .h2 {
    font-size: 4rem;
}
.fs-1 {
    font-size: 1.5rem;
}
h3, .h3 {
    font-size: 1.25rem;
}
p, .p {
    font-size: 1rem;
}
/* containers */
.container{
    width: 81rem;
    margin: 0 auto;
}
.banner-description{
    width: 39.75rem;
}
.introduction-description{
    width: 32.875rem;
}
.about-card-box{
    width: 39.75rem;
    height: 20.25rem;
}
.about-card{
    width: 19.125rem;
    height: 9.25rem;
    padding: 16px;
}
.about-description{
    width: 32.875rem;
}
/* font */
.text-end{
    text-align: right;
}
.text-dark{
    color: $secondary;
}