.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    & img{
        display: inline;
    }
    &:hover{
        filter: blur(3px);
    }
}
.btn-light {
    @extend .btn;
    background-color: $primary;
    color: $secondary;
}
.btn-dark {
    @extend .btn;
    background-color: $secondary;
    color: $primary;
}
.about-card{
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}