/* flex */ 
.d-flex {
    display: flex;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}

/* spacing */
.mt-2_5 {
    margin-top: 2.5rem;
}
.mb-0_25{
    margin-bottom: 0.25rem;
}
.mb-2_25 {
    margin-bottom: 2.25rem;
}

.mb-2_5 {
    margin-bottom: 2.5rem;
}
.mr-1{
    margin-right: 1rem;
}
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-4_5 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}
.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.py-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}