@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: solid 1px grey; /*檢查用，繳交前需清掉*/
}

body {
  font-family: Bruno Ace SC;
  line-height: 1.5;
  color: #ffffff;
  background-color: #000000;
}
body .light-theme {
  color: #000000;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 8rem;
  color: #00FFA3;
}

h2, .h2 {
  font-size: 4rem;
}

.fs-1 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

p, .p {
  font-size: 1rem;
}

/* containers */
.container {
  width: 81rem;
  margin: 0 auto;
}

.banner-description {
  width: 39.75rem;
}

.introduction-description {
  width: 32.875rem;
}

.about-card-box {
  width: 39.75rem;
  height: 20.25rem;
}

.about-card {
  width: 19.125rem;
  height: 9.25rem;
  padding: 16px;
}

.about-description {
  width: 32.875rem;
}

/* font */
.text-end {
  text-align: right;
}

.text-dark {
  color: #000000;
}

/* flex */
.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* spacing */
.mt-2_5 {
  margin-top: 2.5rem;
}

.mb-0_25 {
  margin-bottom: 0.25rem;
}

.mb-2_25 {
  margin-bottom: 2.25rem;
}

.mb-2_5 {
  margin-bottom: 2.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-4_5 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.btn, .btn-dark, .btn-light {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
.btn img, .btn-dark img, .btn-light img {
  display: inline;
}
.btn:hover, .btn-dark:hover, .btn-light:hover {
  filter: blur(3px);
}

.btn-light {
  background-color: #ffffff;
  color: #000000;
}

.btn-dark {
  background-color: #000000;
  color: #ffffff;
}

.about-card {
  border: 1px solid #E3E3E3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.introduction {
  background: url(../image/background-img.png);
}/*# sourceMappingURL=all.css.map */